.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.messeage__userCard{
    background-color: #3FB7CA !important;
}

.message__guestCard{
    background-color: lightgreen !important;
}